/*Grey color for line dividers in columns and sections*/
$grey-line:#D8D8D8;

/*Primary black color for font and other web components*/
$primary-color: #111111;

/*Blue color for accent font and submit button*/
$accent-blue: #4A4FF2;

/*White color for font on blue button*/
$button-text: #FFFFFF;

/*Background color*/
$background-color: #FFFFFF;
