//mixins for header and footer menu

@mixin nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin logo {
    margin-left: 0;
}

@mixin menu {
    margin-right: 0;
}

// @mixin menu-list {

// }

// @mixin menu-li {

// }

// @mixin menu-link {

// }
